@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

:root
{
    --header-height: 100px;
    --content-height: calc(100vh - var(--header-height));
    --footer-height: 250px;
}

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    background: #F1F2F6;
}
p

{
    font-size: 1em;
}
a
{
    text-decoration: none;
}

.container
{
    margin: 0 auto;
    width: 80%;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    line-height: var(--header-height);
    width: 100%;
    background: #2F3542;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

.header-logo
{
    float: left;
    height: calc(var(--header-height) + 60px);
    transition: all linear 150ms;
    cursor: pointer;
}

.header.active .header-logo
{
    height: var(--header-height);
}

.header-nav
{
    float: right;
    width: fit-content;
    list-style: none;
    margin: 0 auto;
}

.header-nav-item
{
    display: inline-block;
    margin-left: 40px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.header-nav-item.tool:last-child
{
    margin-left: 5px;
}

.header-nav-item img
{
    height: 25px;
}

.content
{
    margin-top: var(--header-height);
    min-height: var(--content-height);
    width: 100%;
}

section
{
    min-height: 300px;
}

section:not(#banner)
{
    padding: 50px;
    text-align: center;
}

section#banner
{
    height: calc(80vh - var(--header-height));
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/banner.jpeg') center center no-repeat fixed;
    background-size: cover;
}

section .title
{
    padding-bottom: 60px;
    font-size: 40px;
    color: #658361;
    font-weight: bold;
    text-transform: uppercase;
}

.banner-title
{
    padding-top: 100px;
    font-size: 60px;
}

.banner-title-dark
{
    color: #D0DD97;
}

.banner-title-light
{
    color: #F8FAE4;
}

.banner-title-small
{
    color: #D0DD97;
    font-size: 30px;
    font-weight: 400;
}

.photo
{
    width: 100%;
    height: 500px;
    background-size: cover;
}

.product
{
    display: inline-block;
    width: calc(77% / 4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 200ms;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
}

.product img
{
    width: 100%;
}

.product h1
{
    padding: 20px;
}
 form
{
    width: fit-content;
    margin: 0 auto;
}
.product:hover
{
    transform: scale(1.05);
}

.item
{
    display: inline-block;
    width: calc(77% / 4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 200ms;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    transition: all ease-in-out 200ms;
}

.item:hover
{
    transform: scale(1.05);
}

.item img
{
    width: 100%;
}

.item h1
{
    padding: 20px;
}
form
{
    width: fit-content;
    margin: 0 auto;
}
.product:hover
{
    transform: scale(1.05);
}


.footer
{
    height: var(--footer-height);
    line-height: var(--footer-height);
    width: 100%;
    background: #658361;
    text-align: center;
}

.footer-text
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.menu
{
    position: fixed;
    top: 20vh;
    left: 20%;
    height: 60vh;
    width: 60%;
    background: #fff;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    transform: scale(0);
    overflow: auto;
    transition: all linear 250ms;
    padding: 40px;
}

.menu.active
{
    transform: scale(1);
}

.menu-close
{
    position: absolute;
    right: 25px;
    top: 25px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
body > div.menu.active > div.menu-left > img
{
    width: 120%;
    height: 80%;
}
.menu-left
{
    float: left;
    width: 50%;
}

.menu-left .menu-image
{
    width: 680px;
    height: 430px;
    padding: 60px;
}

.menu-right
{
    float: right;
    width: 50%;
}

.menu-title
{
    float: left;
    margin-top: 55px;
    margin-left: 200px;
}

.menu-description
{
    float: left;
    margin-top: 20px;
    margin-left: 200px;
}

.menu-button
{
    float: left;
    margin-top: 20px;
    margin-left: 200px;
    padding: 10px 20px;
    background: #658461;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.menu-button.checkout
{
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin: 0;
}

.menu-button.reset
{
    position: absolute;
    bottom: 25px;
    right: 180px;
    margin: 0;
}

.menu-items li
{
    padding: 20px 0px;
    list-style: none;
}

.menu-total
{
    position: absolute;
    bottom: 100px;
    right: 25px;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}

.menu-name
{
    font-size: 50px;
}

label
{
    margin-left: 12px;
    padding: 5px 0px;
    float: left;
}

textarea
{
    width: calc(100% - 35px);
    padding: 5px;
}

form input[type=submit]
{
    width: calc(100% - 24px);
    height: 50px;
    background: #658361;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

form input:not([type=submit])
{
    margin: 10px;
    padding: 5px;
    height: 25px;
    width: 350px;
}